body {
    font-family: Montserrat, sans-serif;
    margin: 3em auto;
    padding-bottom: 10%;
    background-color: rgb(122, 122, 122);
}

li {
    margin: 2em auto;
    list-style: none;
    padding: 0;
}

#main-title {
    /* text-align: center !important; */
    margin: 0 auto;
}

.eq-card.ui.card {
    flex: 3; /* Shrink and grow according to available height */
    flex-basis: 1;
  }

