{% extends 'base.html' %}
{% load semanticui %}
{% block content %}
    <div class="ui text container">
        <h1>Create New Blog</h1>
        <form class="ui form" action="{% url 'blog:add_blog' %}" method="POST">
            
            {{ blog_form.as_p }}
            {% csrf_token %}
            <!-- <input type="submit" value="Submit"> -->
            <button class="ui primary button" type="submit">
                Save
            </button>
            <a href="{% url 'index' %}"><button class="ui button" type="button">
                Discard
            </button></a> 
        </form>
    </div>
{% endblock %}
