{% extends 'base.html' %}
{% load semanticui %}
{% block content %}
    
    <div class="ui text container">
        <h1 class="ui header">{{ blog.blog_title }}</h1>
        <div class="content">{{ blog.blog_content }}</div>
        <br>
        <p>Comments:</p>
        {% for comment in blog.comments.all %}
        <div class="comment">
            <br>
            <strong>{{ comment.comment_author }} said</strong>
            <p>{{ comment.comment_content }}</p>
            <div class="date">
                {{ comment.comment_post_date }}
            </div>
        </div>
        {% empty %}
            <p>No comments here yet :(</p>
        {% endfor %}


        <h3>Add comment</h3>
        <form class="ui form" action="" method="POST">
            {% render_form comment_form %}
            
            {% csrf_token %}
            <button type="submit" class="ui blue button">
                Save
            </button> 
            <a href="{% url 'index' %}">
                <button type="button" class="ui negative button" >
                    Discard
                </button>
            </a> 
        </form>
    </div>
    

{% endblock %}
