{% extends 'base.html' %}
{% block content %}

<div class="ui center aligned text container"><h1 class="ui huge header">Welcome to Roots Blog</h1></div><br>

    <div class="ui container">
        <h3><a href="{% url 'blog:add_blog' %}"> Create New Blog Post</a></h3>
        {% if blogs %}
            <div class="ui three column padded relaxed grid">
                    {% for blog in blogs %}
                <div class="row">
                   
                    
                        <div class="ui raised fluid card">
                            <div class="content">
                                <div class="header"><a href="{% url 'blog:blog_detail' id=blog.id %}">{{ blog.blog_title }}</a></div>
                                <div class="meta"><span class="date">{{ blog.blog_post_date }}</span></div>
                                <div class="description">
                                    {{ blog.blog_content }}
                                </div>
                            </div>
                            <div class="extra content">
                                <a href="{% url 'blog:add_comment' id=blog.id %}">Comments: {{blog.comments.count}}</a>
                                <div class="right floated author">
                                    by: {{ blog.blog_author }}
                                </div>
                            </div>
                        </div>
                    
                   
                </div>
                {% endfor %}
            </div>    
        {% else %}
            <h3>No blog Yet</h3>
        {% endif %}
    </div>
{% endblock %}
